{% extends 'index.html' %}

{% block content %}
<style type="text/css">
	.centered{
		width: 70%;
		margin-left:auto;
		margin-right: auto;
	}
</style>
	{% if error %}
		<center style="color:red;">{{error}}</center>
	{% endif %}
	<div class="container centered">
		<form action="/users/auth/" method="POST">
		{% csrf_token %}
		<label>Username: <input type="text" name="username"></label><br>
		<label>Password: <input type="password" name="password"></label>
		<hr>
		<button type="submit">Login</button>
		</form>
	</div>
{% endblock content %}