{% extends 'index.html' %}

{% block content %}
	<style type="text/css">
	.post-container{
		border: 0.5px solid lightblue;
		margin-top: 20px;
		margin-bottom: 4px;
		padding-left: 15px;
	}
	.infodate{
		padding-top: 0;
		font-size: 70%;
	}

	.centered{
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	</style>

	{% if user.is_authenticated %}
		<center><a href="/createpost"><button class="btn btn-success">Create Post</button></a></center>
	{% endif %}

	<div class="container centered">
	{% if posts %}
		{%for p in posts%}
			<div class="post-container">
				<p><a href="/view/{{p.id}}">{{p.title|upper}}</a><!--{%if user.is_authenticated %}<a href="/deletepost/{{p.id}}" alt="Delete post"><span class="glyphicon glyphicon-remove"></span></a>{%endif%}--></p>
				<p class="infodate">Criado a: {{p.created_at|date:"d-n-o"}}</p>
				<hr>
				<p>{{p.content}}</p>
			</div>
		{%endfor%}
	{% else %}
		<center>No posts to show</center>
	{% endif %}
	</div>
	
{% endblock content%}

